<launch>
  <arg name="input_topic" default="/scout/global_path"/>
  <arg name="output_topic" default="/scout/global_path_anti_slosh"/>
  <arg name="ds" default="0.10"/>
  <arg name="publish_debug" default="true"/>
  <arg name="max_candidate_level" default="medium"/>

  <arg name="max_drift" default="0.18"/>
  <arg name="max_length_ratio" default="1.15"/>
  <arg name="min_length_ratio" default="0.995"/>
  <arg name="min_kappa_ratio" default="0.20"/>
  <arg name="target_kappa_ratio" default="0.35"/>
  <arg name="max_endpoint_error" default="0.05"/>
  <arg name="min_segment_length" default="0.02"/>
  <arg name="ay_ratio_limit" default="1.0"/>
  <arg name="enable_collision_check" default="false"/>
  <arg name="costmap_topic" default="/scout/mbf_costmap_nav/global_costmap/costmap"/>
  <arg name="collision_threshold" default="50"/>
  <arg name="unknown_is_obstacle" default="true"/>
  <arg name="prediction_v_max" default="2.0"/>
  <arg name="prediction_ay_max_budget" default="2.0"/>
  <arg name="prediction_a_max" default="1.0"/>
  <arg name="prediction_v_init" default="0.0"/>
  <arg name="mild_iters" default="18"/>
  <arg name="mild_gain" default="0.35"/>
  <arg name="mild_max_drift" default="0.08"/>
  <arg name="mid_iters" default="24"/>
  <arg name="mid_gain" default="0.30"/>
  <arg name="mid_max_drift" default="0.07"/>
  <arg name="medium_iters" default="40"/>
  <arg name="medium_gain" default="0.45"/>
  <arg name="medium_max_drift" default="0.12"/>
  <arg name="strong_iters" default="56"/>
  <arg name="strong_gain" default="0.55"/>
  <arg name="strong_max_drift" default="0.18"/>
  <arg name="slosh_score_enable" default="false"/>
  <arg name="slosh_score_omega_n" default="31.25"/>
  <arg name="slosh_score_zeta" default="0.05"/>
  <arg name="slosh_score_dt" default="0.05"/>
  <arg name="slosh_score_v_floor" default="0.05"/>
  <arg name="slosh_score_height_coeff" default="1.0"/>
  <arg name="slosh_score_container_radius" default="0.0185"/>
  <arg name="slosh_score_use_parabola_term" default="true"/>
  <arg name="slosh_score_w_h" default="0.0"/>
  <arg name="slosh_score_w_energy" default="1.0"/>
  <arg name="slosh_score_w_eta_dot" default="0.5"/>
  <arg name="slosh_score_w_terminal" default="0.2"/>
  <arg name="slosh_score_w_kappa" default="1.0"/>
  <arg name="slosh_score_w_dkappa" default="0.5"/>
  <arg name="slosh_score_w_ay" default="0.0"/>
  <arg name="slosh_score_w_length" default="0.3"/>
  <arg name="slosh_score_w_drift" default="0.5"/>

  <node pkg="scout_local_planner" type="anti_slosh_path_post_processor.py"
        name="anti_slosh_path_post_processor" output="screen">
    <param name="input_topic" value="$(arg input_topic)"/>
    <param name="output_topic" value="$(arg output_topic)"/>
    <param name="ds" value="$(arg ds)"/>
    <param name="publish_debug" value="$(arg publish_debug)"/>
    <param name="max_candidate_level" value="$(arg max_candidate_level)"/>
    <param name="costmap_topic" value="$(arg costmap_topic)"/>

    <param name="gates/max_drift" value="$(arg max_drift)"/>
    <param name="gates/max_length_ratio" value="$(arg max_length_ratio)"/>
    <param name="gates/min_length_ratio" value="$(arg min_length_ratio)"/>
    <param name="gates/min_kappa_ratio" value="$(arg min_kappa_ratio)"/>
    <param name="gates/max_endpoint_error" value="$(arg max_endpoint_error)"/>
    <param name="gates/min_segment_length" value="$(arg min_segment_length)"/>
    <param name="gates/ay_ratio_limit" value="$(arg ay_ratio_limit)"/>
    <param name="gates/enable_collision_check" value="$(arg enable_collision_check)"/>
    <param name="gates/collision_threshold" value="$(arg collision_threshold)"/>
    <param name="gates/unknown_is_obstacle" value="$(arg unknown_is_obstacle)"/>

    <param name="prediction/v_max" value="$(arg prediction_v_max)"/>
    <param name="prediction/ay_max_budget" value="$(arg prediction_ay_max_budget)"/>
    <param name="prediction/a_max" value="$(arg prediction_a_max)"/>
    <param name="prediction/v_init" value="$(arg prediction_v_init)"/>

    <param name="candidates/mild/iters" value="$(arg mild_iters)"/>
    <param name="candidates/mild/gain" value="$(arg mild_gain)"/>
    <param name="candidates/mild/max_drift" value="$(arg mild_max_drift)"/>
    <param name="candidates/mid/iters" value="$(arg mid_iters)"/>
    <param name="candidates/mid/gain" value="$(arg mid_gain)"/>
    <param name="candidates/mid/max_drift" value="$(arg mid_max_drift)"/>
    <param name="candidates/medium/iters" value="$(arg medium_iters)"/>
    <param name="candidates/medium/gain" value="$(arg medium_gain)"/>
    <param name="candidates/medium/max_drift" value="$(arg medium_max_drift)"/>
    <param name="candidates/strong/iters" value="$(arg strong_iters)"/>
    <param name="candidates/strong/gain" value="$(arg strong_gain)"/>
    <param name="candidates/strong/max_drift" value="$(arg strong_max_drift)"/>

    <param name="score/w_kappa" value="1.0"/>
    <param name="score/w_dkappa" value="0.5"/>
    <param name="score/w_length" value="0.3"/>
    <param name="score/w_drift" value="0.5"/>
    <param name="score/w_shortening" value="10.0"/>
    <param name="score/w_over_smooth" value="2.0"/>
    <param name="score/target_kappa_ratio" value="$(arg target_kappa_ratio)"/>

    <param name="slosh_score/enable" value="$(arg slosh_score_enable)"/>
    <param name="slosh_score/omega_n" value="$(arg slosh_score_omega_n)"/>
    <param name="slosh_score/zeta" value="$(arg slosh_score_zeta)"/>
    <param name="slosh_score/dt" value="$(arg slosh_score_dt)"/>
    <param name="slosh_score/v_floor" value="$(arg slosh_score_v_floor)"/>
    <param name="slosh_score/height_coeff" value="$(arg slosh_score_height_coeff)"/>
    <param name="slosh_score/container_radius" value="$(arg slosh_score_container_radius)"/>
    <param name="slosh_score/use_parabola_term" value="$(arg slosh_score_use_parabola_term)"/>
    <param name="slosh_score/w_h" value="$(arg slosh_score_w_h)"/>
    <param name="slosh_score/w_energy" value="$(arg slosh_score_w_energy)"/>
    <param name="slosh_score/w_eta_dot" value="$(arg slosh_score_w_eta_dot)"/>
    <param name="slosh_score/w_terminal" value="$(arg slosh_score_w_terminal)"/>
    <param name="slosh_score/w_kappa" value="$(arg slosh_score_w_kappa)"/>
    <param name="slosh_score/w_dkappa" value="$(arg slosh_score_w_dkappa)"/>
    <param name="slosh_score/w_ay" value="$(arg slosh_score_w_ay)"/>
    <param name="slosh_score/w_length" value="$(arg slosh_score_w_length)"/>
    <param name="slosh_score/w_drift" value="$(arg slosh_score_w_drift)"/>
  </node>
</launch>
