<launch>
  <arg name="plugin_type" default="teb_local_planner/TebLocalPlannerROS"/>
  <arg name="plugin_name" default="TebLocalPlannerROS"/>
  <arg name="global_path_topic" default="/scout/global_path_fixed"/>
  <arg name="goal_topic" default="/scout/goal"/>
  <arg name="cmd_vel_topic" default="/cmd_vel"/>
  <arg name="status_topic" default="/baseline/status"/>
  <arg name="global_plan_topic" default="/baseline/global_plan"/>
  <arg name="controller_frequency" default="10.0"/>
  <arg name="force_straight_plan_on_goal" default="false"/>
  <arg name="use_wrapper_goal_check" default="true"/>
  <arg name="latch_goal_reached" default="false"/>
  <arg name="xy_goal_tolerance" default="0.20"/>
  <arg name="yaw_goal_tolerance" default="0.20"/>
  <arg name="max_cmd_vel_x" default="0.8"/>
  <arg name="max_cmd_vel_theta" default="1.2"/>
  <arg name="raw_cmd_vel_topic" default="/baseline/raw_cmd_vel"/>
  <arg name="command_intervention_topic" default="/baseline/command_intervention"/>
  <arg name="tracking_diagnostics_topic" default="/baseline/tracking_error"/>
  <arg name="override_teb_limits" default="false"/>
  <arg name="teb_max_vel_x" default="0.8"/>
  <arg name="teb_max_vel_trans" default="0.8"/>
  <arg name="teb_max_vel_theta" default="1.2"/>
  <arg name="teb_acc_lim_x" default="0.6"/>
  <arg name="teb_acc_lim_theta" default="1.2"/>
  <arg name="base_frame" default="base_footprint"/>
  <arg name="plan_target_frame" default=""/>
  <arg name="planner_config" default=""/>
  <arg name="costmap_config" default="$(find baseline_local_planner_runner)/config/local_costmap_sim.yaml"/>

  <node pkg="baseline_local_planner_runner"
        type="baseline_local_planner_runner_node"
        name="baseline_local_planner_runner"
        output="screen">
    <param name="plugin_type" value="$(arg plugin_type)"/>
    <param name="plugin_name" value="$(arg plugin_name)"/>
    <param name="global_path_topic" value="$(arg global_path_topic)"/>
    <param name="goal_topic" value="$(arg goal_topic)"/>
    <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <param name="status_topic" value="$(arg status_topic)"/>
    <param name="global_plan_topic" value="$(arg global_plan_topic)"/>
    <param name="controller_frequency" value="$(arg controller_frequency)"/>
    <param name="force_straight_plan_on_goal" value="$(arg force_straight_plan_on_goal)"/>
    <param name="use_wrapper_goal_check" value="$(arg use_wrapper_goal_check)"/>
    <param name="latch_goal_reached" value="$(arg latch_goal_reached)"/>
    <param name="xy_goal_tolerance" value="$(arg xy_goal_tolerance)"/>
    <param name="yaw_goal_tolerance" value="$(arg yaw_goal_tolerance)"/>
    <param name="max_cmd_vel_x" value="$(arg max_cmd_vel_x)"/>
    <param name="max_cmd_vel_theta" value="$(arg max_cmd_vel_theta)"/>
    <param name="raw_cmd_vel_topic" value="$(arg raw_cmd_vel_topic)"/>
    <param name="command_intervention_topic" value="$(arg command_intervention_topic)"/>
    <param name="tracking_diagnostics_topic" value="$(arg tracking_diagnostics_topic)"/>
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="plan_target_frame" value="$(arg plan_target_frame)"/>
    <rosparam file="$(arg costmap_config)" command="load"/>
    <rosparam if="$(eval planner_config != '')" file="$(arg planner_config)" command="load"/>
    <!-- For TEB real trials, make the planner-internal limits identical to the
         runner limits after loading YAML. Other plugins leave this disabled. -->
    <param name="$(arg plugin_name)/max_vel_x" value="$(arg teb_max_vel_x)"
           if="$(arg override_teb_limits)"/>
    <param name="$(arg plugin_name)/max_vel_trans" value="$(arg teb_max_vel_trans)"
           if="$(arg override_teb_limits)"/>
    <param name="$(arg plugin_name)/max_vel_theta" value="$(arg teb_max_vel_theta)"
           if="$(arg override_teb_limits)"/>
    <param name="$(arg plugin_name)/acc_lim_x" value="$(arg teb_acc_lim_x)"
           if="$(arg override_teb_limits)"/>
    <param name="$(arg plugin_name)/acc_lim_theta" value="$(arg teb_acc_lim_theta)"
           if="$(arg override_teb_limits)"/>
  </node>
</launch>
