<launch>
  <arg name="robot_namespace" default="/"/>
  <arg name="urdf_extras" default="/home/a/scout_ws/src/scout_ros/scout_description/urdf/official_scout_mini_imu_extras.urdf.xacro"/>

  <param name="robot_description" command="$(find xacro)/xacro '/data/a/official_scout_ws/src/scout_description/urdf/mini_abs.xacro'
      robot_namespace:=$(arg robot_namespace)
      urdf_extras:=$(arg urdf_extras)" />
</launch>
