<launch>
  <arg name="config" default="$(find lt_dwa_v2_adapter)/config/lt_dwa_v2_adapter_sim.yaml" />
  <arg name="publish_cmd_vel" default="false" />
  <arg name="cmd_vel_topic" default="/lt_dwa_v2/shadow_cmd_vel" />
  <arg name="shadow_cmd_topic" default="/baseline/lt_dwa_v2/shadow_cmd_vel" />
  <arg name="odom_topic" default="/odom" />
  <arg name="map_topic" default="/map" />
  <arg name="global_path_topic" default="/scout/global_path_fixed" />
  <arg name="goal_topic" default="/scout/goal" />
  <arg name="base_frame" default="base_link" />
  <arg name="plan_target_frame" default="odom" />
  <arg name="planning_frequency" default="10.0" />
  <arg name="command_publish_frequency" default="25.0" />
  <arg name="command_stale_timeout_sec" default="2.0" />

  <node pkg="lt_dwa_v2_adapter" type="lt_dwa_v2_adapter_node"
        name="lt_dwa_v2_adapter_node" output="screen">
    <rosparam command="load" file="$(arg config)" />

    <param name="runtime/publish_cmd_vel" value="$(arg publish_cmd_vel)" />
    <param name="topics/cmd_vel_topic" value="$(arg cmd_vel_topic)" />
    <param name="topics/shadow_cmd_topic" value="$(arg shadow_cmd_topic)" />
    <param name="topics/odom_topic" value="$(arg odom_topic)" />
    <param name="topics/map_topic" value="$(arg map_topic)" />
    <param name="topics/global_path_topic" value="$(arg global_path_topic)" />
    <param name="topics/goal_topic" value="$(arg goal_topic)" />
    <param name="frames/base_frame" value="$(arg base_frame)" />
    <param name="frames/plan_target_frame" value="$(arg plan_target_frame)" />
    <param name="timing/planning_frequency" value="$(arg planning_frequency)" />
    <param name="timing/command_publish_frequency" value="$(arg command_publish_frequency)" />
    <param name="timing/command_stale_timeout_sec" value="$(arg command_stale_timeout_sec)" />
  </node>
</launch>
